marva-next {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.wrapper {
  height: calc(100vh - 56px);
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    height: calc(100vh - 48px);
  }
}
